@import "bootstrap/scss/functions";
@import "bootstrap/scss/variables";
@import "bootstrap/scss/mixins";

@import "./assets/css/variables";
@import "./assets/css/functions";
@import "./assets/css/mixins";

$theme-colors: (
  primary: $purple,
  light: $white,
);

@import "bootstrap";

@import "./App.css";
